.sidebar {
  min-width: 8.6rem;
  width: 8.6rem;

  background: var(--white);
  border-top: 1px solid var(--secondary-200);
  border-bottom: 1px solid var(--secondary-200);
  z-index: 40;
}

.sidebar nav ul {
  height: 100%;
  width: 100%;
  margin-top: 4.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.sidebar nav ul li {
  list-style: none;
  position: relative;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.sidebar nav ul li p {
  display: none;
}

.sidebar nav ul li:hover:before {
  position: absolute;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 12px solid var(--primary-500);
  width: 0;
  height: 0;
  right: -2.4rem;
  top: 8px;

  content: ''
}

.sidebar nav ul li:hover:after {
  position:absolute;
  background: var(--primary-500);
  width: 10rem;
  right: -16rem;

  padding: 8px 2rem;
  border-radius: 4px;
  content: "Lorem Ipsum";

  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.sidebar nav ul li img {
  width: 3.2rem;
}

.sidebar_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;

  z-index: 30;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(93, 102, 112, 0.8);
}

.sidebar_tablet_btn_close {
  display: none;
  width: 3.2rem;
  height: 3.2rem;
  background: transparent;
  border: 1px solid var(--primary-500);
  border-radius: 999px;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  color: var(--primary-500);
}

@media (max-width: 1240px) {
  .sidebar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    gap: 4.8rem;

    min-width: 24rem;
  }

  .sidebar_active {
    position: absolute;
    display: inherit;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .sidebar nav ul li p {
    display: initial;
  }

  .sidebar_tablet_btn_close {
    display: flex;
  } 
}