.home__header_carousel {
  width: 100%;
  max-width: 300px;
  margin-left: 20rem;
}

.swiper-wrapper{
  transition-timing-function: linear;
}

.home__header_carousel_content {
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) and (max-width: 1240px) {
  .home__header_carousel {
    margin: 0 auto;
    max-width: 55rem;
  }
}