.home__header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 0
}

.home__header nav {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__header nav a {
  display: inline-block;
  color: var(--text-primary)
}

.home__auth {
  display: flex;
  gap: 0.4rem;
  width: 20rem;
}

.home__auth button{
  width: 100%;
  padding: 0.8rem 1.6rem;
  color: white;
  transition: 0.125s;
}

.home__auth button:hover{
  filter: opacity(0.7)
}

.home__auth #home_btn_sign_in {
  color: var(--text-default);
  background: var(--white);
}

.home__header_container_carousel {
  padding: 4px 8.4rem;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(77, 77, 77, 0.10);
  border-top: 1px solid var(--secondary-200);
}

.home__header_carousel_container_tablet_device {
  display: none;
}

.home__header_container_auth_hamburguer_mobile_device {
  display: none;
}

.home__header_carousel_container_mobile_device {
  display: none;
}

/* Tablets and Desktops */
@media (min-width: 768px) and (max-width: 1240px) {
  .home__header nav {
    width: 100%; 
    justify-content: initial;
    gap: 3.4rem;
    font-size: 1.4rem;
  }

  .home__auth {
    width: 30rem;
  }

  .home__header_carousel_container_desktop_device {
    display: none;
  }

  .home__header_carousel_container_tablet_device {
    display: block;
  }
}

/* Mobile and Tablets */
@media (max-width: 767px) { 
  .home__header_container_auth_hamburguer_mobile_device {
    display: block;
  }

  .home__auth {
    display: none;
  }

  .home__header_carousel_container_desktop_device {
    display: none;
  }

  .home__header nav a {
    display: none;
  }

  .home__header_carousel_container_mobile_device {
    display: block;
  }
}