.dashboard_wallet_table_cryptos {
  border-collapse: collapse
}

.dashboard_wallet_table_cryptos thead tr th {
  color: var(--secondary-500);

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
}

.dashboard_wallet_table_cryptos tbody tr td {
  padding: 1.4rem 0.4rem;
  line-height: 2.4rem;
  text-align: center;
}

.dashboard_wallet_table_cryptos tbody tr td img {
  width: 3.2rem;
  height: 3.2rem;
}

.dashboard_wallet_table_cryptos tbody tr:nth-child(even)  {
  background: var(--secondary-100);
}

.table_cryptos_name_crypto {
  display: flex;
  align-items: center;
}

.table_cryptos_name_crypto img {
  margin-left: 12.4rem;
}

.table_cryptos_name_crypto span {
  display: inline-block;
  margin-left: 1.6rem;
  margin-right: 4px;
}

.table_cryptos_name_crypto p {
  color: var(--secondary-500)
}


.table_cryptos_holdings_crypto {
  text-align: left !important;
  padding-left: 12.2rem !important;
}

.table_cryptos_holdings_crypto p {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.table_cryptos_holdings_crypto span {
  display: inline-block;
  color: var(--primary-500);

  font-size: 1.2rem;
  line-height: 1.4rem;
}