.dashboard__header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 11rem 2rem 11.2rem;
  
  box-shadow: 0px 4px 8px 0px rgba(77, 77, 77, 0.10);
}

.dashboard__header_tablet_btn_hamburguer {
  display: none;
}

@media (min-width: 768px) and (max-width: 1240px) {
  .dashboard__header {
    padding: 2rem 4rem 2rem 4.8rem;
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(77, 77, 77, 0.10);
    border-bottom: 1px solid rgba(77, 77, 77, 0.10)
  }

  .dashboard__header_tablet_btn_hamburguer {
    display: block;
  }
}

@media (max-width: 768px) {
  .dashboard__header {
    padding: 2rem 2rem 2rem 2.2rem;
    z-index: 100;
    box-shadow: 0px 4px 8px 0px rgba(77, 77, 77, 0.10);
    border-bottom: 1px solid rgba(77, 77, 77, 0.10)
  }

  .dashboard__header_tablet_btn_hamburguer {
    display: block;
  }
}