.dashboard__header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 11rem 2rem 11.2rem;
  
  box-shadow: 0px 4px 8px 0px rgba(77, 77, 77, 0.10);
}